@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend:wght@100..900&family=Syne:wght@400..800&display=swap');

body{
    background-color: #728651;
    padding: 0;
    margin: 0;
    margin-top: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1{
    font-family: 'Syne';
    font-size: 3vw;
    color: #728651;
    margin: 0;
    padding: 0;
}

h2, h3{
    font-family: 'Syne'
}

p{
    font-family: 'Karla';
    font-size: 1.5vw;
}

/**
    Header and navboard
**/
header{
    background-color: #ffff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100000;
    height: 5vw;
}

.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: end;
    
}

.logo a{
    background-color: #ffff;
    text-decoration: none;
    text-align: left;
    margin-top:0;
    padding-left: 1vw;
}

.logo h1{
    margin-left: 1vw;
}

nav{
    background-color: #ffff;
}

nav ul{
    list-style: none;
    background-color: #ffff;
    padding: 0vw;
    margin: 0vw;
    overflow: hidden;
    display:flex;
    align-items: center;
}

nav a{
    color: #728651;
    text-decoration: none;
    display: block;
    text-align: right;
    padding: 1vw 2vw;
    font-family: 'Syne';
    font-size: 2vw

}


/**
    First section on homepage
**/
.homeSection{
    height: 100%;
    margin-top: 5vw;
    padding: 2vw;
}

#homeContainer{
    display: grid;
    grid-template-areas: 'a b c';
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-top: 6vw;
    justify-content: space-between;
    gap: 3vw;
}

#homeContainer div{
    align-items: center;
    height:36vw;
}

.farskaVaror{
    position: relative;
    height: 40vw;
    width: 20vw;
    background-color: #728651;
}

.farskaVaror p{
    color: #ffff;
    text-align: center;
    width: 30vw;
}

.thaiVagnen{
    position: relative;
    height: 40vw;
    width: 20vw;
    background-color: #728651;
}

.thaiVagnen p{
    color: #ffff;
    text-align: center;
    width: 30vw;
}

.ersboda{
   position: relative;
   height: 40vw;
   width: 20vw;
   background-color: #728651;
   
}

.ersboda p{
    color: #ffff;
    text-align: center;
    width: 30vw;
}

.farskaVaror h2{
    color:#ffff;
    text-align: center;
    font-family: 'Syne';
    font-size: 3vw;
    width: 30vw;
}

.thaiVagnen h2{
    color:#ffff;
    text-align: center;
    font-family: 'Syne';
    font-size: 3vw;
    width: 30vw;
}

.ersboda h2{
    color:#ffff;
    text-align: center;
    font-family: 'Syne';
    font-size: 3vw;
    width: 30vw;
}

.fadeTextblock1, .fadeTextblock2{
    background-color:#ffff;
    width: 10vw;
}

/**
    Second section on homepage
**/
.banner2{
    background-color: #ffff;
    height: 100%;
    padding: 3vw;
}

#timeContainer{
    display: grid;
    grid-template-areas: 'a b';
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 5vw;
    justify-content: space-between;
    gap: 10vw;
}

#timeContainer div{
    align-items: center;
}

.oppettider{
    position: relative;

}

.oppettider h2{
    color: #728651;
    text-align: left;
    font-family: 'Syne';
    font-size: 2vw;
}

.oppettider dl{
    color:#728651;
    font-family: 'Karla';
    font-size: 1.5vw;
    text-align: center;

}

.cook{
    position:relative;
    height: 40vw;
    width: 40vw;
}

/**
    Third section on homepage
**/
.banner3{
    background-color:#728651;
    height: 100%;
    padding: 3vw;
}

#feedbackContainer{
    display: grid;
}

#feedbackContainer h2{
    color: #ffff;
    text-align: left;
    font-family: 'Syne';
    font-size: 2vw;
}

/**
    Carousel
**/
.carousel{
    position: relative;
    height: 18vw;
    width: 60vw;
    margin: 0 auto;
    margin-bottom: 2vw;
}

.carouselTrackContainer{
    
    height:18vw;
    position: relative;
    width: 60vw;
    justify-content: space-between;
    overflow: hidden;
    
}


.carouselTrack{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    transition: transform 200ms ease-in;
    
    
}

.carouselSlide{
    background-color: #ffff;
    top: 0;
    bottom: 0;
    width:60vw;
    height: 100%;
    
}

.carouselSlide h3{
    font-family: 'Syne';
    font-size: 1.5vw;
}

.carouselSlide p{
    font-size: 1.5vw;
}

.carouselButtonLeft{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    left: -5vw;
    cursor: pointer;
}

.carouselButtonLeft img{
    height: 3vw;
    width: 3vw;
}

.carouselButtonRight{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    right: -5vw;
    cursor: pointer;
}

.carouselButtonRight img{
    height: 3vw;
    width: 3vw;
}

.carouselNav{
    display: flex;
    justify-content: center;
    padding: 1vw 0;
}

.carouselIndicator{
    border: 0;
    border-radius: 50%;
    width: 1vw;
    height: 1vw;
    margin: 0 1vw;
    cursor: pointer;
}

.carouselIndicator.currentSlide{
    background: rgba(0,0,0,1);
}

.flerRecensioner a{
    
    color: #ffff;
    font-family: 'Syne';
    font-size: 1.5vw;
}

/**
    Footer
**/

footer{
    background-color: #ffff;
    padding-bottom: 1vw;
}

#footerContainer{
    display: grid;
    align-items: center;
    grid-template-areas: 'a b c';
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-content: space-between;
    gap: 5vw;
}

#footerContainer div{
    width: 30vw;
    text-align: center;
    align-self: start;
}

.footerBesokOss h3{
    color:#728651;
    font-family: 'Syne';
}

.footerBesokOss p{
    margin: 0;
    color:#728651;
    font-size: 1vw;
}

.footerBesokOss a{
    text-decoration: none;
    color: #728651;
}

.footerThaiVagnen i{
    color: #728651;
}

.footerThaiVagnen h3{
    color: #728651;
    font-family: 'Syne';
}

.footerThaiVagnen p{
    font-size: 1vw;
}

.footerOppettider{
    color:#728651;
    font-family: 'Syne';
}

.footerOppettider p{
    font-size: 1vw;
}

/**
    Menu
**/
.menuSection{
    display: flex;
    justify-content: center;
    background-color: #ffff;
    height: 100%;
    padding: 2vw;
    margin-top: 5vw;
}

#menuContainer{
    display:grid;
    width: 100%;
    grid-template-areas: 'a b';
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 1vw;
    gap: 2vw;
}


.chicken{
    background-color: lightblue;
    padding:2vw;
}

.chicken dl{
    font-family: 'Karla'
}

.chicken dt{
    font-weight: bold;
    font-size: 1.1vw;
}

#beefPrawnsVegContainer{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2vw;
}

.beef{
    background-color: burlywood;
    padding: 2vw;
}

.beef dl{
    font-family: 'Karla'
}

.beef dt{
    font-weight: bold;
    font-size: 1.1vw;
}

.prawns{
    background-color: pink;
    padding: 2vw;
}

.prawns dl{
    font-family: 'Karla'
}

.prawns dt{
    font-weight: bold;
    font-size: 1.1vw;
}

.veg{
    background-color: lightgreen;
    padding: 2vw;
}


.veg dl{
    font-family: 'Karla'

}

.veg dt{
    font-weight: bold;
    font-size: 1.1vw;
}
/**
    About Us
**/

.aboutUsSection{
    height:100%;
    padding: 2vw;
    margin-top: 5vw;
}

#aboutUsContainer{
    display: grid;
    width: 100%;
    grid-template-areas: 'a b';
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 1vw;
    gap: 2vw;
    
}

.weAreThaiVagnen{
    background-color: #ffff;
    padding: 2vw;
    height: 30vw;
}

.video{
    width: 30vw;
}

/**
    Contact us
**/

.contactSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-bottom: 11vw;
    margin-top: 10vw;
}

#contactContainer{
    display:grid;
    grid-template-areas: 'a b';
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 2vw;
    padding: 2vw;
    
}


.contactForm{
    flex-direction: column;
    background-color: #ffff;
    padding: 2vw;
    align-items: start;
}

.contactform, input{
    margin-bottom: 2vw;
}

.contactform, textarea{
    margin-bottom: 2vw;
}

.contactInput{
    width: 45vw;
}

.contactInfo{
    background-color: #ffff;
    padding: 2vw;

}

.tableSection{
    background-color: #ffff;
    width: 100%;
    display:flex;
    justify-content: center;
    height:38vw;
    margin-bottom: 2vw
}

@media (max-width:800px){
    #menuContainer{
        display: flex;
        flex-direction: column;
    }
}

@media print{
    header, footer{
        display:none;
    }

    h2 {
        font-family: 'Syne';
    }

    dl{
        font-family: 'Karla';
    }

    dt{
        font-weight: bold;
        font-size: 2vw !important;
    }

    .chicken{
        background-color: lightblue;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        margin-bottom: 2vw;
        padding: 2vw;
    }
    
    .beef{
        background-color: burlywood;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        margin-bottom: 10vw;
        padding: 2vw;
    }
    
    .prawns{
        background-color: pink;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        margin-bottom: 2vw ;
        padding: 2vw;
        margin-top: 4vw;
    }
    
    .veg{
        background-color: lightgreen ;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        padding: 2vw;

    } 
}